/*---------------------------------------------*\
    Page Builder
\*---------------------------------------------*/

.page-item.loop {
    margin-top: $gap-md;
    @media (min-width: $screen-sm-min) {
        margin-top: $gap-lg;
    }
    .item {
        margin: 0;
        padding: $gap-md 0;
        background: no-repeat center center;
        background-size: cover;
        @media (min-width: $screen-sm-min) {
            padding: $gap-lg 0;
        }
        &.fixed {
            background-attachment: fixed;
        }
        &.no-padding {
            padding: 0;
        }
    }
    .content{
        margin-bottom: 0;
        p:last-child{
            margin-bottom: 0;
        }
    }
}