/*---------------------------------------------*\
    Portfolio
\*---------------------------------------------*/

.portfolio.loop{
    .item {
        a {
            &:hover {
                text-decoration: none;
            }
        }
        .image {
            position: relative;
            display: block;
        }
    }
}
.portfolio.page {
    .item {
        margin-bottom: $gap-md
    }
    .caption-right{
        margin-top: $gap-md;
    }
}
@media (min-width: $screen-sm) {
    .portfolio.page {
        .item {
            margin-bottom: $gutter;
            &.last {
                margin-bottom: 0;
            }
        }
        .caption-right{
            margin-top: 0;
        }
    }
}