/*======================================================================*\
    Forms
\*======================================================================*/

/*---------------------------------------------*\
    Inputs
\*---------------------------------------------*/

input:focus, textarea:focus, .form-control:focus {
    @include box-shadow(none);
}
.form-control {
    &:focus {
        border-color: $gray;
    }
}
.holder-required {
    input, input:focus, textarea, textarea:focus {
        border-color: $btn-danger-border;
    }
}

/*---------------------------------------------*\
    Messages
\*---------------------------------------------*/

.message {
    @extend .alert;
    @extend .alert-info;
    > p {
        margin-bottom: 0;
    }
    > p + p {
        margin-top: $gap-xs;
    }
    &.required, &.validation {
        @extend .alert-danger;
    }
}

/*---------------------------------------------*\
    Search
\*---------------------------------------------*/

#SearchForm_SearchForm {
    .form-group {
        margin: 0;
    }
    .modal-footer {
        margin: 0;
    }
}