/*======================================================================*\
    IE less than 9 Fixes (Because it's crap')
\*======================================================================*/

/*---------------------------------------------*\
    Media Detections
\*---------------------------------------------*/

.lt-ie9 #select-navigation,
.lt-ie9 .visible-xs,
.lt-ie9 .visible-sm,
.lt-ie9 .visible-md{display: none!important;}

/*---------------------------------------------*\
    Lists
\*---------------------------------------------*/

.lt-ie9 .lead { font-size: 21px }
.lt-ie9 .dl-horizontal dt { float: left; width: 160px; overflow: hidden; clear: left; text-align: right; text-overflow: ellipsis; white-space: nowrap; }
.lt-ie9 .dl-horizontal dd { margin-left: 180px }
.lt-ie9 .dl-horizontal dd:before,
.lt-ie9 .dl-horizontal dd:after { display: table; content: " "; }
.lt-ie9 .dl-horizontal dd:after { clear: both }
.lt-ie9 .dl-horizontal dd:before,
.lt-ie9 .dl-horizontal dd:after { display: table; content: " "; }
.lt-ie9 .dl-horizontal dd:after { clear: both }

/*---------------------------------------------*\
    Forms
\*---------------------------------------------*/

.lt-ie9 .form-inline .form-group { display: inline-block; margin-bottom: 0; vertical-align: middle; }
.lt-ie9 .form-inline .form-control { display: inline-block }
.lt-ie9 .form-inline .radio,
.lt-ie9 .form-inline .checkbox { display: inline-block; padding-left: 0; margin-top: 0; margin-bottom: 0; }
.lt-ie9 .form-inline .radio input[type="radio"],
.lt-ie9 .form-inline .checkbox input[type="checkbox"] { float: none; margin-left: 0; }
.lt-ie9 .form-horizontal .control-label { text-align: right }

/*---------------------------------------------*\
    Navbar
\*---------------------------------------------*/

.lt-ie9 .navbar-right .dropdown-menu { right: 0; left: auto; }
.lt-ie9 .nav-tabs.nav-justified > li { display: table-cell; width: 1%; }
.lt-ie9 .nav-justified > li { display: table-cell; width: 1%; }
.lt-ie9 .navbar { border-radius: 4px }
.lt-ie9 .navbar-header { float: left }
.lt-ie9 .navbar-collapse { width: auto; border-top: 0; box-shadow: none; }
.lt-ie9 .navbar-collapse.collapse { display: block !important; height: auto !important; padding-bottom: 0; overflow: visible !important; }
.lt-ie9 .navbar-collapse.in { overflow-y: visible }
.lt-ie9 .navbar-collapse .navbar-nav.navbar-left:first-child { margin-left: -15px }
.lt-ie9 .navbar-collapse .navbar-nav.navbar-right:last-child { margin-right: -15px }
.lt-ie9 .navbar-collapse .navbar-text:last-child { margin-right: 0 }
.lt-ie9 .container > .navbar-header,
.lt-ie9 .container > .navbar-collapse { margin-right: 0; margin-left: 0; }
.lt-ie9 .navbar-static-top { border-radius: 0 }
.lt-ie9 .navbar-fixed-top,
.lt-ie9 .navbar-fixed-bottom { border-radius: 0 }
.lt-ie9 .navbar > .container .navbar-brand { margin-left: -15px }
.lt-ie9 .navbar-toggle { display: none }
.lt-ie9 .navbar-nav { float: left; margin: 0; }
.lt-ie9 .navbar-nav > li { float: left }
.lt-ie9 .navbar-nav > li > a { padding-top: 15px; padding-bottom: 15px; }
.lt-ie9 .navbar-left { float: left !important }
.lt-ie9 .navbar-right { float: right !important }
.lt-ie9 .navbar-form .form-group { display: inline-block; margin-bottom: 0; vertical-align: middle; }
.lt-ie9 .navbar-form .form-control { display: inline-block }
.lt-ie9 .navbar-form .radio,
.lt-ie9 .navbar-form .checkbox { display: inline-block; padding-left: 0; margin-top: 0; margin-bottom: 0; }
.lt-ie9 .navbar-form .radio input[type="radio"],
.lt-ie9 .navbar-form .checkbox input[type="checkbox"] { float: none; margin-left: 0; }
.lt-ie9 .navbar-form { width: auto; padding-top: 0; padding-bottom: 0; margin-right: 0; margin-left: 0; border: 0; -webkit-box-shadow: none; box-shadow: none; }
.lt-ie9 .navbar-text { margin-right: 15px; margin-left: 15px; }

/*---------------------------------------------*\
    Grids
\*---------------------------------------------*/

/*! Just pulls all CSS from the @media (min-width: 768px) from bootstrap.css  */

.lt-ie9 .container { width: 960px }
.lt-ie9 .col-sm-1,
.lt-ie9 .col-sm-2,
.lt-ie9 .col-sm-3,
.lt-ie9 .col-sm-4,
.lt-ie9 .col-sm-5,
.lt-ie9 .col-sm-6,
.lt-ie9 .col-sm-7,
.lt-ie9 .col-sm-8,
.lt-ie9 .col-sm-9,
.lt-ie9 .col-sm-10,
.lt-ie9 .col-sm-11 { float: left }
.lt-ie9 .col-sm-1 { width: 8.333333333333332% }
.lt-ie9 .col-sm-2 { width: 16.666666666666664% }
.lt-ie9 .col-sm-3 { width: 25% }
.lt-ie9 .col-sm-4 { width: 33.33333333333333% }
.lt-ie9 .col-sm-5 { width: 41.66666666666667% }
.lt-ie9 .col-sm-6 { width: 50% }
.lt-ie9 .col-sm-7 { width: 58.333333333333336% }
.lt-ie9 .col-sm-8 { width: 66.66666666666666% }
.lt-ie9 .col-sm-9 { width: 75% }
.lt-ie9 .col-sm-10 { width: 83.33333333333334% }
.lt-ie9 .col-sm-11 { width: 91.66666666666666% }
.lt-ie9 .col-sm-12 { width: 100% }
.lt-ie9 .col-sm-push-1 { left: 8.333333333333332% }
.lt-ie9 .col-sm-push-2 { left: 16.666666666666664% }
.lt-ie9 .col-sm-push-3 { left: 25% }
.lt-ie9 .col-sm-push-4 { left: 33.33333333333333% }
.lt-ie9 .col-sm-push-5 { left: 41.66666666666667% }
.lt-ie9 .col-sm-push-6 { left: 50% }
.lt-ie9 .col-sm-push-7 { left: 58.333333333333336% }
.lt-ie9 .col-sm-push-8 { left: 66.66666666666666% }
.lt-ie9 .col-sm-push-9 { left: 75% }
.lt-ie9 .col-sm-push-10 { left: 83.33333333333334% }
.lt-ie9 .col-sm-push-11 { left: 91.66666666666666% }
.lt-ie9 .col-sm-pull-1 { right: 8.333333333333332% }
.lt-ie9 .col-sm-pull-2 { right: 16.666666666666664% }
.lt-ie9 .col-sm-pull-3 { right: 25% }
.lt-ie9 .col-sm-pull-4 { right: 33.33333333333333% }
.lt-ie9 .col-sm-pull-5 { right: 41.66666666666667% }
.lt-ie9 .col-sm-pull-6 { right: 50% }
.lt-ie9 .col-sm-pull-7 { right: 58.333333333333336% }
.lt-ie9 .col-sm-pull-8 { right: 66.66666666666666% }
.lt-ie9 .col-sm-pull-9 { right: 75% }
.lt-ie9 .col-sm-pull-10 { right: 83.33333333333334% }
.lt-ie9 .col-sm-pull-11 { right: 91.66666666666666% }
.lt-ie9 .col-sm-offset-1 { margin-left: 8.333333333333332% }
.lt-ie9 .col-sm-offset-2 { margin-left: 16.666666666666664% }
.lt-ie9 .col-sm-offset-3 { margin-left: 25% }
.lt-ie9 .col-sm-offset-4 { margin-left: 33.33333333333333% }
.lt-ie9 .col-sm-offset-5 { margin-left: 41.66666666666667% }
.lt-ie9 .col-sm-offset-6 { margin-left: 50% }
.lt-ie9 .col-sm-offset-7 { margin-left: 58.333333333333336% }
.lt-ie9 .col-sm-offset-8 { margin-left: 66.66666666666666% }
.lt-ie9 .col-sm-offset-9 { margin-left: 75% }
.lt-ie9 .col-sm-offset-10 { margin-left: 83.33333333333334% }
.lt-ie9 .col-sm-offset-11 { margin-left: 91.66666666666666% }
.lt-ie9 .lead { font-size: 21px }
.lt-ie9 .dl-horizontal dt { float: left; width: 160px; overflow: hidden; clear: left; text-align: right; text-overflow: ellipsis; white-space: nowrap; }
.lt-ie9 .dl-horizontal dd { margin-left: 180px }
.lt-ie9 .dl-horizontal dd:before,
.lt-ie9 .dl-horizontal dd:after { display: table; content: " "; }
.lt-ie9 .dl-horizontal dd:after { clear: both }
.lt-ie9 .dl-horizontal dd:before,
.lt-ie9 .dl-horizontal dd:after { display: table; content: " "; }
.lt-ie9 .dl-horizontal dd:after { clear: both }
.lt-ie9 .form-inline .form-group { display: inline-block; margin-bottom: 0; vertical-align: middle; }
.lt-ie9 .form-inline .form-control { display: inline-block }
.lt-ie9 .form-inline .radio,
.lt-ie9 .form-inline .checkbox { display: inline-block; padding-left: 0; margin-top: 0; margin-bottom: 0; }
.lt-ie9 .form-inline .radio input[type="radio"],
.lt-ie9 .form-inline .checkbox input[type="checkbox"] { float: none; margin-left: 0; }
.lt-ie9 .form-horizontal .control-label { text-align: right }
.lt-ie9 .navbar-right .dropdown-menu { right: 0; left: auto; }
.lt-ie9 .nav-tabs.nav-justified > li { display: table-cell; width: 1%; }
.lt-ie9 .nav-tabs.nav-justified > li > a { margin-bottom: 0 }
.lt-ie9 .nav-tabs.nav-justified > li > a { border-bottom: 1px solid #dddddd; border-radius: 4px 4px 0 0; }
.lt-ie9 .nav-tabs.nav-justified > .active > a,
.lt-ie9 .nav-tabs.nav-justified > .active > a:hover,
.lt-ie9 .nav-tabs.nav-justified > .active > a:focus { border-bottom-color: #ffffff }
.lt-ie9 .nav-justified > li { display: table-cell; width: 1%; }
.lt-ie9 .nav-justified > li > a { margin-bottom: 0 }
.lt-ie9 .nav-tabs-justified > li > a { border-bottom: 1px solid #dddddd; border-radius: 4px 4px 0 0; }
.lt-ie9 .nav-tabs-justified > .active > a,
.lt-ie9 .nav-tabs-justified > .active > a:hover,
.lt-ie9 .nav-tabs-justified > .active > a:focus { border-bottom-color: #ffffff }
.lt-ie9 .navbar { border-radius: 4px }
.lt-ie9 .navbar-header { float: left }
.lt-ie9 .navbar-collapse { width: auto; border-top: 0; box-shadow: none; }
.lt-ie9 .navbar-collapse.collapse { display: block !important; height: auto !important; padding-bottom: 0; overflow: visible !important; }
.lt-ie9 .navbar-collapse.in { overflow-y: visible }
.lt-ie9 .navbar-collapse .navbar-nav.navbar-left:first-child { margin-left: -15px }
.lt-ie9 .navbar-collapse .navbar-nav.navbar-right:last-child { margin-right: -15px }
.lt-ie9 .navbar-collapse .navbar-text:last-child { margin-right: 0 }
.lt-ie9 .container > .navbar-header,
.lt-ie9 .container > .navbar-collapse { margin-right: 0; margin-left: 0; }
.lt-ie9 .navbar-static-top { border-radius: 0 }
.lt-ie9 .navbar-fixed-top,
.lt-ie9 .navbar-fixed-bottom { border-radius: 0 }
.lt-ie9 .navbar > .container .navbar-brand { margin-left: -15px }
.lt-ie9 .navbar-toggle { display: none }
.lt-ie9 .navbar-nav { float: left; margin: 0; }
.lt-ie9 .navbar-nav > li { float: left }
.lt-ie9 .navbar-nav > li > a { padding-top: 15px; padding-bottom: 15px; }
.lt-ie9 .navbar-left { float: left !important }
.lt-ie9 .navbar-right { float: right !important }
.lt-ie9 .navbar-left { float: left !important }
.lt-ie9 .navbar-right { float: right !important }
.lt-ie9 .navbar-form { width: auto; padding-top: 0; padding-bottom: 0; margin-right: 0; margin-left: 0; border: 0; -webkit-box-shadow: none; box-shadow: none; }
.lt-ie9 .navbar-text { margin-right: 15px; margin-left: 15px; }
.lt-ie8 .col-sm-1,
.lt-ie8 .col-sm-2,
.lt-ie8 .col-sm-3,
.lt-ie8 .col-sm-4,
.lt-ie8 .col-sm-5,
.lt-ie8 .col-sm-6,
.lt-ie8 .col-sm-7,
.lt-ie8 .col-sm-8,
.lt-ie8 .col-sm-9,
.lt-ie8 .col-sm-10,
.lt-ie8 .col-sm-11 { padding:0;margin:0; }
.lt-ie8 .col-sm-1{ width:5.5%;margin:0 1%; }
.lt-ie8 .col-sm-2{ width:13.5%;margin:0 1%; }
.lt-ie8 .col-sm-3{ width:22.5%;margin:0 1%; }
.lt-ie8 .col-sm-4{ width:30.5%;margin:0 1%; }
.lt-ie8 .col-sm-5{ width:38.5%;margin:0 1%; }
.lt-ie8 .col-sm-6{ width:47.5%;margin:0 1%; }
.lt-ie8 .col-sm-7{ width:55.5%;margin:0 1%; }
.lt-ie8 .col-sm-8{ width:63.5%;margin:0 1%; }
.lt-ie8 .col-sm-9{ width:72.5%;margin:0 1%; }
.lt-ie8 .col-sm-10{ width:80.5%;margin:0 1%; }
.lt-ie8 .col-sm-11{ width:87.5%;margin:0 1%; }
.lt-ie8 .col-sm-12{ width:97.5%;margin:0 1%; }