/*======================================================================*\
    Global
\*======================================================================*/

html,
body{width: 100%;height: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust:none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-overflow-scrolling: touch;
}

img{width: auto;height: auto;max-width:100%;}

/*======================================================================*\
    Content
\*======================================================================*/

/*---------------------------------------------*\
    Header
\*---------------------------------------------*/

#header{background: $gray-lighter;padding: add($gap-sm, $gap-xs) 0;margin-bottom: $gap-md;
    .navbar-brand{color: $gray;}
}
#logo-container{display: block;}

@media (min-width: $screen-sm){
    #header{padding: $gap-lg 0;margin-bottom: $gap-lg;}
}

/*---------------------------------------------*\
    Navigation
\*---------------------------------------------*/

#main-nav{margin-bottom: 0;background: transparent none;border-width: 0;
    .collapse{padding: 0;}
    .navbar-brand{padding-left: 0;}
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus,
#main-nav > .collapse > .nav > li.section > a,
#main-nav > .collapse > .nav > li.current > a{background: $btn-primary-bg;color: $btn-primary-color}

#select-navigation{border-top-width: 0;
    &.collapse{border-top-width: 0;padding: 0 $gap-lg;position: absolute;top: 0;left: 0;right: 0;bottom: 0;}
    select{width: $gap-lg;height: $gap-lg;z-index: 2;border: 0;position: absolute;top: 50%;right:0;margin-top: -$gap-md;background: none transparent;-webkit-appearance: none;opacity: 0;padding:0;}
    .menu-icon{position: absolute;font-size: 1.3em;right: 0;top: 50%;margin-top: -$gap-md;height: $gap-lg;width: $gap-lg;text-align: center;line-height: $gap-lg;}
    .menu-icon.search{right: add($gap-lg, $gap-sm);border-style: solid;border-width: 1px;}
}

@media (min-width: $screen-sm){
    #select-navigation.navbar-collapse {display: none !important;}
}

/*---------------------------------------------*\
    Sidebar
\*---------------------------------------------*/

#sidebar{margin-top:$gap-lg;}
.sidebar-nav{background: $gray-lighter;padding: $gap-md;
    @include border-radius();
}
.sidebar-nav ul{margin: 0;padding:0;
    li{list-style: none;
        h4{margin-top: 0;}
        a{color: $link-color;display: block;padding: $gap-xs 0;}
        a:hover{color: $link-hover-color;text-decoration: none;}
        .current,
        .current:hover{color: $gray-dark;}
    }
    ul{margin-left: $gap-sm;}
}

/*---------------------------------------------*\
    Page
\*---------------------------------------------*/

#mainContent{margin-bottom: $gap-lg;}

/*---------------------------------------------*\
    Footer
\*---------------------------------------------*/

#footer{padding: add($gap-sm, $gap-xs) 0;background: $gray-lighter;}

@media (min-width: $screen-sm){
    #footer{padding: $gap-lg 0;}
}

/*---------------------------------------------*\
    Login form
\*---------------------------------------------*/

#MemberLoginForm_LoginForm{
    #ForgotPassword{margin-top: $gap-sm}
}

@media (min-width: $screen-sm){
    #MemberLoginForm_LoginForm{max-width: 50%;}
}

/*======================================================================*\
    Modules
\*======================================================================*/

/*---------------------------------------------*\
    Blog
\*---------------------------------------------*/

.BlogPage{
    #sidebar{margin-top: 0;}
}

.blog-item{margin-bottom: $gap-lg}

/*======================================================================*\
    Classes
\*======================================================================*/

/*---------------------------------------------*\
    Buttons
\*---------------------------------------------*/

.btn{
    &:focus{outline: 0;}
}

.btn-shadow{margin-bottom:4px;
    &:active{margin-bottom: 0;margin-top: 4px;}
}

.btn-secondary {
  @include button-variant($btn-secondary-color, $btn-secondary-bg, $btn-secondary-border);
}

.btn-inverse {
  @include button-variant($btn-inverse-color, $btn-inverse-bg, $btn-inverse-border);
}

/*======================================================================*\
    Vendors
\*======================================================================*/

.breadcrumb{background: $gray-lighter;}
.carousel-control .fa-chevron-left,
.carousel-control .fa-chevron-right{position: absolute;top: 50%;z-index: 5;display: inline-block;}