/*======================================================================*\
    Modules
\*======================================================================*/

/*---------------------------------------------*\
    Blog
\*---------------------------------------------*/

.blog-sidebar-content {
    color: $gray-light
}
.blog-item {
    .blog-content {
        margin-bottom: $gap-md;
        padding-bottom: $gap-md;
        border-bottom: 3px solid $gray-lighter;
        .blog-image {
            margin-bottom: $gap-md;
            display: block;
            background: $gray-darker;
            position: relative;
            img {
                -webkit-backface-visibility: hidden;
                @include transition(.1s linear opacity);
            }
            @include absolute-arrow();
            .hover-icon {
                display: none;
                color: $btn-primary-color;
                @include icon-center();
            }
            &:hover {
                img {
                    opacity: 0.9
                }
                .hover-icon {
                    display: block;
                }
            }
        }
        .blog-title {
            a {
                color: $btn-default-color;
                @include transition(.1s linear color);
                &:hover {
                    color: $brand-primary;
                    text-decoration: none;
                }
            }
        }
        .blog-meta {
            color: $gray-light;
            margin-bottom: $gap-md;
        }
        .blog-summary {
            margin-bottom: $gap-md;
        }
    }
}
@media (min-width: $screen-sm) {
    .blog-item {
        .blog-content {
            margin-bottom: $gap-lg;
            padding-bottom: $gap-lg;
        }
    }
}
.blog-single {
    .blog-meta {
        color: $gray-light;
        margin-bottom: $gap-md;
    }
}
/*---------------------------------------------*\
    Portfolio
\*---------------------------------------------*/

.portfolio-item {
    margin-bottom: $gap-md;
    a {
        .portfolio-image {
            position: relative;
            display: block;
            background: $gray-darker;
            @include absolute-arrow();
            img {
                -webkit-backface-visibility: hidden;
                @include transition(.1s linear opacity);
            }
            .hover-icon {
                color: $btn-primary-color;
                @include icon-center();
                @include opacity(0);
                @include transition(.1s linear opacity);
            }
        }
        .portfolio-meta {
            border: 1px solid $gray-lighter;
            border-top-width: 0;
            padding: $gap-md;
            background: $btn-default-bg;
            @include border-bottom-radius($border-radius-base);
            h5 {
                margin-top: 0;
                font-weight: bold;
                color: $gray;
            }
            .portfolio-subtitle {
                color: $gray-light;
            }
        }
        &:hover {
            text-decoration: none;
            img {
                opacity: 0.9
            }
            .hover-icon {
                @include opacity(1);
            }
        }
    }
}
@media (min-width: $screen-sm) {
    .portfolio-item {
        margin-bottom: $gap-lg;
    }
}
.portfolio-page-item {
    .portfolio-title {
        margin-top: 0;
        margin-bottom: $gap-md;
        color: $gray;
    }
    .portfolio-image-item {
        margin-bottom: $gap-md
    }
    .content {
        color: $gray-light;
    }
}
@media (min-width: $screen-sm) {
    .portfolio-page-item {
        .portfolio-image-item {
            margin-bottom: add($gap-md, $gap-sm);
            &.last {
                margin-bottom: 0;
            }
        }
    }
}

/*---------------------------------------------*\
    Page Builder
\*---------------------------------------------*/

#pageItemsContainer {
    margin-top: $gap-md;
    .page-item {
        padding: $gap-md;
        background: no-repeat center center;
        background-size: cover;
        &.fixed {
            background-attachment: fixed;
        }
        &.no-padding {
            padding: 0;
        }
    }
}
@media (min-width: $screen-sm) {
    #pageItemsContainer {
        margin-top: $gap-lg;
        .page-item {
            padding: $gap-lg;
        }
    }
}

/*---------------------------------------------*\
    Gallery
\*---------------------------------------------*/

.gallery-container {
    margin-bottom: -$gap-md;
    .gallery-item {
        margin-bottom: $gutter;
        .hover-icon {
            color: $btn-primary-color;
            @include icon-center();
            @include opacity(0);
            @include transition(.1s linear opacity);
            i {
                font-size: 0.5em;
            }
        }
        &:hover {
            text-decoration: none;
            img {
                opacity: 0.9
            }
            .hover-icon {
                @include opacity(1);
            }
        }
    }
}

@media (min-width: $screen-sm) {
    .gallery-container {
        margin-bottom: -$gutter;
    }
}

/*---------------------------------------------*\
    Slider
\*---------------------------------------------*/

#sliderContainer {
    margin-bottom: $gap-md;
    .container{
        padding: 0;
    }
    #pageSlider {
        &.full-width {
            > .carousel-inner {
                > .item {
                    a img, img {
                        width: 100%;
                    }
                }
            }
        }
        .carousel-indicators {
            .active {
                background: $brand-primary;
                border-color: $brand-primary;
            }
        }
        .carousel-control {
            &.right, &.left {
                background: 0 none;
                filter: none;
            }
            .fa-angle-left, .fa-angle-right {
                position: absolute;
                top: 50%;
                z-index: 5;
                left: 50%;
                display: inline-block;
                font-size:$gap-lg;
                margin-top: -$gap-md;
                margin-left: -$gap-xs;
            }
        }
    }
    .mobile-slider-controls{
        background: $gray-lighter;
        text-align: right;
        a{
            color: $gray;
            display: inline-block;
            font-size: 1.3em;
            padding: $gap-sm;
        }
    }
}

@media (min-width: $screen-sm) {
    #sliderContainer {
        margin-bottom: $gap-lg;
        .container{
            padding: 0 ($gutter / 2);
        }
    }
}

/*---------------------------------------------*\
    Files
\*---------------------------------------------*/

.file-group {
    .panel-body {
        ul {
            &.list-unstyled {
                margin: 0;
            }
        }
    }
}

/*---------------------------------------------*\
    Registration
\*---------------------------------------------*/

#MemberLoginForm_LoginForm {
    #ForgotPassword {
        margin-top: $gap-sm
    }
}
#editProfile {
    margin-top :$gap-md;
}
@media (min-width: $screen-sm) {
    #MemberLoginForm_LoginForm,
    #Form_RegistrationForm,
    #MemberLoginForm_LostPasswordForm {
        max-width: 50%;
    }
}
.form-group {
    .text {
        @extend .form-control;
    }
}

// Login Form
#MemberLoginForm_LoginForm,
#MemberLoginForm_LostPasswordForm {
    .action {
        @extend .btn;
        @extend .btn-primary;
        @extend .btn-lg;
    }
}

/*---------------------------------------------*\
    Contact Form
\*---------------------------------------------*/

#Form_ContactForm {
    margin-bottom: $gap-md;
}
@media (min-width: $screen-sm) {
    #Form_ContactForm {
        margin-bottom: $gap-lg;
    }
}
#map-canvas {
    width: 100%;
    display: block;
    height: 300px;
    img {
        max-width: none;
    }
}

/*---------------------------------------------*\
    Testimonials
\*---------------------------------------------*/

.testimonial-container{
    .testimonial-item{
        padding: $gap-md;
        margin: 0;
        .media{
            > .pull-left{
                margin-right: $gutter;
            }
            .media-image{
                img{
                    @include border-radius(100%)
                }
            }
            .fallback{
                background: $gray-lighter;
                width: $gap-xl;
                height: $gap-xl;
                line-height: $gap-xl;
                text-align: center;
                color: $gray-light;
                display: block;
                @include border-radius(100%)
            }
        }
        &.even{
            background: $gray-lightest;
        }
    }
}

@media (min-width: $screen-sm) {
    .testimonial-container{
        .testimonial-item{
            padding: $gap-lg $gap-md;
        }
    }
}