/*======================================================================*\
    Fontface
\*======================================================================*/

@font-face {
    font-family: 'open_regular';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_italic';
    src: url('../fonts/OpenSans-Italic-webfont.eot');
    src: url('../fonts/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Italic-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Italic-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_semibold';
    src: url('../fonts/OpenSans-Semibold-webfont.eot');
    src: url('../fonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Semibold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_bold';
    src: url('../fonts/OpenSans-Bold-webfont.eot');
    src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*---------------------------------------------*\
    Regular
\*---------------------------------------------*/

body {font-family: "open_regular","Helvetica Neue",Helvetica,Arial,sans-serif;}

/*---------------------------------------------*\
    Semi-Bold
\*---------------------------------------------*/

strong,
#main-nav .nav li a,
.btn{font-family: "open_semibold","Helvetica Neue",Helvetica,Arial,sans-serif;}

/*---------------------------------------------*\
    Bold
\*---------------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6{font-family: "open_bold","Helvetica Neue",Helvetica,Arial,sans-serif;}

/*======================================================================*\
    Fonts - Typography
\*======================================================================*/

h1{font-size: 28px;}
h2{font-size: 24px;}
h3{font-size: 20px;}
h4{font-size: 16px;}
h5{font-size: 14px;}

@media (min-width: $screen-sm){
    h1{font-size: 34px;}
    h2{font-size: 30px;}
    h3{font-size: 24px;}
    h4{font-size: 20px;}
    h5{font-size: 16px;}
}

.typography{
    h1,
    h2{margin-bottom: $gap-md;}
}

@media (min-width: $screen-sm){
    .typography{

        h1{font-size: 34px;}
        h2{font-size: 30px;}
        h3{font-size: 24px;}
        h4{font-size: 20px;}
        h5{font-size: 16px;}

        h1,
        h2,
        h3,
        h4,
        h5,
        h6{margin-top: 0;}

        h1,
        h2{margin-bottom: $gap-md;margin-top: $gap-lg;}
        h3,
        h4{margin-bottom: $gap-md;}

        p,
        ul,
        ol,
        pre,
        code{margin-bottom: $gap-md;}
        li{margin-bottom: $gap-sm;}

    }
}

/*======================================================================*\
    Classes
\*======================================================================*/

.typography{
    .page-heading{margin-top: 0;}
}

%customList{padding-left: 0;
    li{padding-left: 1.2em;list-style: none;
        &:before{
            content: '\f00c';
            font-family: FontAwesome;
            color: $btn-success-bg;
            display: inline-block;
            margin-left: -1.2em;
            width: 1.2em;
        }
    }
}

ul{
    &.checklist{
        @extend %customList;
    }
    &.deletelist{
        @extend %customList;
        li{
            &:before{
                content: '\f00d';
                color: $btn-danger-bg;
            }
        }
    }

}
