/*======================================================================*\
    Colors
\*======================================================================*/

$gray-lightest: #f7f7f7;

$brand-primary: #3bc492;
$brand-secondary: #00addc;
$brand-inverse: #444;

$btn-primary-color: #fff;
$btn-primary-bg: $brand-primary;
$btn-primary-border: darken($btn-primary-bg, 5%);

$btn-secondary-color: #fff;
$btn-secondary-bg: $brand-secondary;
$btn-secondary-border: darken($btn-secondary-bg, 5%);

$btn-inverse-color: #fff;
$btn-inverse-bg: $brand-inverse;
$btn-inverse-border: darken($btn-inverse-bg, 5%);

$panel-secondary-text: #fff;
$panel-secondary-border: $brand-secondary;
$panel-secondary-heading-bg: $brand-secondary;

/*======================================================================*\
    Gaps
\*======================================================================*/

$gutter: 30px;

$gap-xl: 60px;
$gap-lg: 30px;
$gap-md: 15px;
$gap-sm: 10px;
$gap-xs: 5px;

/*======================================================================*\
    Border Radii
\*======================================================================*/

$border-radius-base: 3px;