/*======================================================================*\
    Colors
\*======================================================================*/

$brand-secondary: #57c2ae;
$brand-inverse: #222;

$btn-secondary-color: #fff !default;
$btn-secondary-bg: $brand-secondary !default;
$btn-secondary-border: darken($btn-secondary-bg, 5%) !default;

$btn-inverse-color: #fff !default;
$btn-inverse-bg: $brand-inverse !default;
$btn-inverse-border: darken($btn-inverse-bg, 5%) !default;

/*======================================================================*\
    Gaps
\*======================================================================*/

$gap-xl: 80px;
$gap-lg: 40px;
$gap-md: 20px;
$gap-sm: 10px;
$gap-xs: 5px;

/*======================================================================*\
    Functions
\*======================================================================*/

@function add($e, $f){
  @return $e + $f
}

@function subtract($e, $f){
  @return $e - $f
}