/*!
======================================================================
    Layout
======================================================================
*/

/*======================================================================*\
    Global
\*======================================================================*/

html, body {
    width: 100%;
    height: 100%;
    color: $gray;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust:none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-overflow-scrolling: touch;
}
img {
    width: auto;
    height: auto;
    max-width:100%;
}
a {
    outline: none;
    &:active {
        outline: none;
    }
}

/*======================================================================*\
    Content
\*======================================================================*/

/*---------------------------------------------*\
    Header
\*---------------------------------------------*/

#header {
    padding: $gap-md 0;
    margin-bottom: $gap-md;
    position: relative;
    z-index: 2;
    @media (min-width: $screen-sm-min) {
            margin-bottom: $gap-lg;
            padding: $gap-lg 0;
            // Remove space between elements.
            font-size: 0;
    }
    #logoContainer {
        h1, h2, h3, h4, h5, h6 {
            margin: 0;
        }
        a {
            display: block;
        }
    }
    @media (min-width: $screen-sm-min) {
        #logoContainer,
        #navigationContainer{
            // Set font size after removing space between inline-block elements.
            font-size: $font-size-base;
            display: inline-block;
            vertical-align: middle;
            float: none;
        }
    }
}

/*---------------------------------------------*\
    Navigation
\*---------------------------------------------*/

#main-nav {
    margin-bottom: -$gap-xs;
    background: transparent none;
    border-width: 0;
    padding: 0;
    display: block;
    width: 100%;
    min-height: $gap-lg;
    .nav {
        > li {
            &:hover, &.section, &.current {
                > a {
                    // screen-lg open state
                }
            }
            &:hover{
                > .dropdown-menu{
                    @media (min-width: $screen-lg-min) {
                        display: block;
                    }
                }
            }
            &.open {
                > a, > a:hover, > a:focus {
                    // screen-sm - screen-md open state
                }
                > .dropdown-menu {
                    display: block;
                }
            }
            > a {
                margin-left: 2px;
                padding: 8px $gap-sm;
                margin-bottom: $gap-xs;
                @include border-radius();
            }
            .dropdown-menu {
                margin-top: 0;
                padding: 0;
                left: auto;
                right: 0;
                border-width: 0;
                background: transparent none;
                display: none;
                @include border-radius(0);
                @include box-shadow(none);
                > li {
                    > a {
                        padding: $gap-sm;
                        background: $btn-default-bg;
                        color: $btn-default-color;
                        &:hover {
                            background: darken($btn-default-bg, 3%)
                        }
                    }
                }
            }
        }
    }
}
#select-navigation {
    border-top-width: 0;
    min-height: $gap-lg;
    position: relative;
    &.collapse {
        border-top-width: 0;
        padding: 0 $gap-lg;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    select {
        width: ($gap-lg + $gap-sm);
        height: ($gap-lg + $gap-sm);
        z-index: 2;
        border: 0;
        position: absolute;
        top: 50%;
        right:0;
        margin-top: -(($gap-lg + $gap-sm) / 2);
        background: none transparent;
        -webkit-appearance: none;
        opacity: 0;
        padding:0;
    }
    .menu-icon {
        position: absolute;
        font-size: 1.3em;
        right: 0;
        top: 50%;
        margin-top: -(($gap-lg + $gap-sm) / 2);
        height: ($gap-lg + $gap-sm);
        width: ($gap-lg + $gap-sm);
        text-align: center;
        line-height: ($gap-lg + $gap-sm);
        @include border-radius();
        i {
            line-height: ($gap-lg + $gap-sm);
        }
        &.search {
            right: ($gap-lg + $gap-sm) + $gap-sm;
        }
    }
}


/*---------------------------------------------*\
    Sidebar
\*---------------------------------------------*/

.sidebar {
    .sidebar-nav {
        ul {
            margin: 0;
            padding:0;
            li {
                list-style: none;
                h4 {
                    margin-top: 0;
                }
                a {
                    color: $link-color;
                    display: block;
                    padding: $gap-xs 0;
                }
                a:hover {
                    color: $link-hover-color;
                    text-decoration: none;
                }
                .current, .current:hover {
                    color: $gray-dark;
                }
            }
        }
    }
}

/*---------------------------------------------*\
    Page
\*---------------------------------------------*/

/*---------------------------------------------*\
    Footer
\*---------------------------------------------*/

#footer {
    padding: $gap-md 0;
    @media (min-width: $screen-sm-min) {
        padding: $gap-lg 0;
    }
}

/*======================================================================*\
    Pages
\*======================================================================*/

/*======================================================================*\
    Classes
\*======================================================================*/

.content.typography{
    margin-bottom: $gap-md;
    @media (min-width: $screen-sm-min) {
        margin-bottom: $gap-lg;
    }
}
.loop{
    .item {
        position: relative;
        margin-bottom: $gap-md;
        &.last{
            margin-bottom: 0;
        }
        a{
            cursor: pointer;
        }
        @media (min-width: $screen-sm-min) {
            margin-bottom: $gap-lg;
            &.last{
                margin-bottom: $gap-lg;
            }
        }
    }
    &.no-margin{
        .row{
            margin: 0;
        }
        .item{
            padding: 0;
            margin: 0;
            &.last{
                // overrides the media query
                margin-bottom: 0;
            }
        }
        margin-bottom: $gap-lg;
    }
}
.page{
    .image{
        margin-bottom: $gap-md;
        @media(min-width: $screen-sm-min){
            margin-bottom: 0;
        }
    }
}

/*---------------------------------------------*\
    Carousel
\*---------------------------------------------*/

.carousel-inner {
    > .item {
        @include transition(0.6s ease left);
    }
}
.carousel-indicators {
    .active {
        background: $brand-primary;
        border-color: $brand-primary;
    }
}
.carousel-control {
    width: $gap-lg * 3;
    text-shadow: none;
    @include opacity(1);
    &:hover{
        .fa-angle-left, .fa-angle-right {
            background: $brand-primary;
        }
    }
    &.right, &.left {
        background: 0 none;
        filter: none;
    }
    .fa-angle-left, .fa-angle-right {
        width: $gap-lg;
        height: $gap-lg;
        background: $brand-secondary;
        position: absolute;
        top: 50%;
        z-index: 5;
        line-height: $gap-lg;
        left: 50%;
        display: inline-block;
        font-size: 20px;
        margin-top: -($gap-lg /2);
        margin-left: -($gap-lg /2);
        @include border-radius();
        @include transition(.1s linear background);
    }
}
.mobile-slider-controls{
    font-size: 0;
    background: $brand-secondary;
    text-align: right;
    a{
        line-height: 20px;
        font-size: 18px;
        color: $btn-secondary-color;
        display: inline-block;
        padding: $gap-sm $gap-md;
        width: 50%;
        &:first-child{
            text-align: left;
        }
    }
}
.carousel-indicators{
    bottom: -($gap-sm + (20px));
    margin-bottom: 0;
    @media (min-width: $screen-sm-min) {
        bottom: $gap-lg;
    }
}

/*---------------------------------------------*\
    Buttons
\*---------------------------------------------*/

%btn-static{
    border-radius: 2px;
    padding: $gap-xs $gap-sm;
    white-space: normal;
    border-width: 0;
    &:focus {
        outline: 0;
    }
}
.btn {
    @extend %btn-static;
}
.btn-sm{
    padding: ($gap-xs / 2) ($gap-sm / 2);
}
.btn-lg{
    padding: $gap-sm $gap-md;
}
.btn-secondary {
    @include button-variant($btn-secondary-color, $btn-secondary-bg, $btn-secondary-border);
}
.btn-inverse {
    @include button-variant($btn-inverse-color, $btn-inverse-bg, $btn-inverse-border);
}

/*---------------------------------------------*\
    Wells
\*---------------------------------------------*/

.well {
    border-width: 0;
    @include border-radius();
    @include box-shadow(none);
    &.well-default {
        @include well($btn-default-color, $brand-default);
    }
    &.well-primary {
        @include well($btn-primary-color, $brand-primary);
    }
    &.well-secondary {
        @include well($btn-secondary-color, $brand-secondary);
    }
    &.well-inverse {
        @include well($btn-inverse-color, $brand-inverse);
    }
    &.well-info {
        @include well($btn-info-color, $brand-info);
    }
    &.well-warning {
        @include well($btn-warning-color, $brand-warning);
    }
    &.well-danger {
        @include well($btn-danger-color, $brand-danger);
    }
    p:last-child {
        margin-bottom: 0;
    }
}

/*---------------------------------------------*\
    Alerts
\*---------------------------------------------*/

.alert {
    border-radius: 2px;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.15);
    a {
        text-decoration: underline
    }
    p{
        &:last-child{
            margin-bottom: 0;
        }
    }
    &.alert-success {
        @include alert-variant($alert-success-bg, darken($alert-success-border, 15%), $alert-success-text);
        a {
            color: $alert-success-text
        }
    }
    &.alert-info {
        @include alert-variant($alert-info-bg, darken($alert-info-border, 15%), $alert-info-text);
        a {
            color: $alert-info-text
        }
    }
    &.alert-warning {
        @include alert-variant($alert-warning-bg, darken($alert-warning-border, 15%), $alert-warning-text);
        a {
            color: $alert-warning-text
        }
    }
    &.alert-danger {
        @include alert-variant($alert-danger-bg, darken($alert-danger-border, 15%), $alert-danger-text);
        a {
            color: $alert-danger-text
        }
    }
}

/*---------------------------------------------*\
    Panels
\*---------------------------------------------*/

.panel {
    margin-bottom: $gap-lg;
    @include box-shadow(none);
    table {
        &.table {
            tr {
                &:first-child {
                    td {
                        border-top-width: 0;
                    }
                }
            }
        }
    }
    &.panel-secondary {
        @include panel-variant($panel-secondary-border, $panel-secondary-text, $panel-secondary-heading-bg, $panel-secondary-border);
    }
}

/*---------------------------------------------*\
    Breadcrumbs
\*---------------------------------------------*/

.breadcrumb {
    background: none;
    padding: 0;
}