/*======================================================================*\
    Global
\*======================================================================*/

html, body {
    width: 100%;
    height: 100%;
    color: $gray;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust:none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-overflow-scrolling: touch;
}
img {
    width: auto;
    height: auto;
    max-width:100%;
}
a {
    outline: none;
    &:active {
        outline: none;
    }
}

/*======================================================================*\
    Content
\*======================================================================*/

/*---------------------------------------------*\
    Header
\*---------------------------------------------*/

#header {
    padding: $gap-md 0;
    margin-bottom: $gap-md;
    position: relative;
    z-index: 2;
    #logoContainer {
        h1, h2, h3, h4, h5, h6 {
            margin: 0;
        }
        a {
            display: block;
        }
    }
}
@media (min-width: $screen-sm) {
    #header {
        margin-bottom: $gap-lg;
        padding: $gap-lg 0;
        // Remove space between elements.
        font-size: 0;
        #logoContainer,
        #navigationContainer{
            // Set font size after removing space between inline-block elements.
            font-size: 14px;
            display: inline-block;
            vertical-align: middle;
            float: none;
        }
    }
}

/*---------------------------------------------*\
    Navigation
\*---------------------------------------------*/

#main-nav {
    margin-bottom: -$gap-xs;
    background: transparent none;
    border-width: 0;
    padding: 0;
    display: block;
    width: 100%;
    min-height: $gap-lg;
    .nav {
        > li {
            &:hover, &.section, &.current {
                > a {
                    background: $btn-primary-bg;
                    color: $btn-primary-color
                }
            }
            &.open {
                > a, > a:hover, > a:focus {
                    background: $btn-primary-bg;
                    color: $btn-primary-color;
                }
                > .dropdown-menu {
                    @include opacity(1);
                    @include transform(translate(0, 0) scale(1));
                }
            }
            > a {
                margin-left: 2px;
                padding: 8px $gap-sm;
                font-weight: 600;
                margin-bottom: $gap-xs;
                @include border-radius();
                @include transition(.1s linear background);
                &.btn-primary {
                    color: $btn-primary-color;
                }
                &.btn-secondary {
                    color: $btn-secondary-color;
                }
                &.btn-inverse {
                    color: $btn-inverse-color;
                }
            }
            .dropdown-menu {
                padding: 0;
                border-width: 0;
                background: transparent none;
                padding-top: $gap-sm;
                display: block;
                @include opacity(0);
                @include border-radius(0);
                @include box-shadow(none);
                @include backface-visibility(hidden);
                @include transition(all 0.2s ease-in-out);
                @include transform(translate(0, -50%) scale(0));
                > li {
                    &.divider {
                        margin: 0;
                    }
                    > a {
                        padding: $gap-sm;
                        background: $btn-default-bg;
                        color: $btn-default-color;
                        @include box-shadow(0 2px 4px rgba(0, 0, 0, 0.2));
                        &:hover {
                            background: darken($btn-default-bg, 3%)
                        }
                        &:first-child {
                            border-top-width: 0;
                        }
                    }
                    &:first-child {
                        a {
                            @include border-top-radius($border-radius-base);
                        }
                    }
                    &:last-child {
                        a {
                            @include border-bottom-radius($border-radius-base);
                        }
                    }
                }
            }
        }
    }
}
#select-navigation {
    border-top-width: 0;
    min-height: $gap-lg;
    position: relative;
    &.collapse {
        border-top-width: 0;
        padding: 0 $gap-lg;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
    select {
        width: ($gap-lg + $gap-sm);
        height: ($gap-lg + $gap-sm);
        z-index: 2;
        border: 0;
        position: absolute;
        top: 50%;
        right:0;
        margin-top: -(($gap-lg + $gap-sm) / 2);
        background: none transparent;
        -webkit-appearance: none;
        opacity: 0;
        padding:0;
    }
    .menu-icon {
        position: absolute;
        font-size: 1.3em;
        right: 0;
        top: 50%;
        margin-top: -(($gap-lg + $gap-sm) / 2);
        height: ($gap-lg + $gap-sm);
        width: ($gap-lg + $gap-sm);
        text-align: center;
        line-height: ($gap-lg + $gap-sm);
        @include border-radius();
        i {
            line-height: ($gap-lg + $gap-sm);
        }
        &.search {
            right: add(($gap-lg + $gap-sm), $gap-sm);
        }
    }
}
@media (min-width: $screen-sm) {
    #main-nav {
        padding: 0;
    }
}
@media (min-width: $screen-lg) {
    #main-nav{
        > .nav {
            > li{
                &:hover {
                    > .dropdown-menu {
                        @include opacity(1);
                        @include transform(translate(0, 0) scale(1));
                    }
                }
            }
        }
    }
}

/*---------------------------------------------*\
    Sidebar
\*---------------------------------------------*/

.sidebar {
    .sidebar-nav {
        ul {
            margin: 0;
            padding:0;
            li {
                list-style: none;
                h4 {
                    margin-top: 0;
                }
                a {
                    color: $link-color;
                    display: block;
                    padding: $gap-xs 0;
                }
                a:hover {
                    color: $link-hover-color;
                    text-decoration: none;
                }
                .current, .current:hover {
                    color: $gray-dark;
                }
            }
        }
    }
}

/*---------------------------------------------*\
    Page
\*---------------------------------------------*/

/*---------------------------------------------*\
    Footer
\*---------------------------------------------*/

#footer {
    padding: $gap-md 0;
}
@media (min-width: $screen-sm) {
    #footer {
        padding: $gap-lg 0;
    }
}

/*======================================================================*\
    Pages
\*======================================================================*/

/*======================================================================*\
    Classes
\*======================================================================*/

.content{
    margin-bottom: $gap-md;
}
@media (min-width: $screen-sm) {
    .content{
        margin-bottom: $gap-lg;
    }
}
.loop{
    .item {
        position: relative;
        margin-bottom: $gap-md;
        &.last{
            margin-bottom: 0;
        }
    }
}
@media (min-width: $screen-sm) {
    .loop{
        .item {
            margin-bottom: $gap-lg;
            &.last{
                margin-bottom: $gap-lg;
            }
        }
    }
}

/*---------------------------------------------*\
    Carousel
\*---------------------------------------------*/

.carousel-inner {
    > .item {
        @include transition(0.6s ease left);
    }
}

/*---------------------------------------------*\
    Buttons
\*---------------------------------------------*/

.btn {
    padding: $gap-xs $gap-sm;
    white-space: normal;
    border-width: 0;
    font-weight: 600;
    @include border-radius();
    &:focus {
        outline: 0;
    }
}
.btn-sm{
    padding: ($gap-xs / 2) ($gap-sm / 2);
}
.btn-lg{
    padding: $gap-sm $gap-md;
}
.btn-secondary {
    @include button-variant($btn-secondary-color, $btn-secondary-bg, $btn-secondary-border);
}
.btn-inverse {
    @include button-variant($btn-inverse-color, $btn-inverse-bg, $btn-inverse-border);
}

/*---------------------------------------------*\
    Wells
\*---------------------------------------------*/

.well {
    border-width: 0;
    @include border-radius();
    @include box-shadow(none);
    &.well-default {
        @include well($btn-default-color, $brand-default);
    }
    &.well-primary {
        @include well($btn-primary-color, $brand-primary);
    }
    &.well-secondary {
        @include well($btn-secondary-color, $brand-secondary);
    }
    &.well-inverse {
        @include well($btn-inverse-color, $brand-inverse);
    }
    &.well-info {
        @include well($btn-info-color, $brand-info);
    }
    &.well-warning {
        @include well($btn-warning-color, $brand-warning);
    }
    &.well-danger {
        @include well($btn-danger-color, $brand-danger);
    }
    p:last-child {
        margin-bottom: 0;
    }
}

/*---------------------------------------------*\
    Alerts
\*---------------------------------------------*/

.alert {
    border-width: 0;
    border-left-width: $gap-xs;
    @include border-radius(0);
    a {
        text-decoration: underline
    }
    p{
        &:last-child{
            margin-bottom: 0;
        }
    }
    &.alert-success {
        @include alert-variant($alert-success-bg, darken($alert-success-border, 15%), $alert-success-text);
        a {
            color: $alert-success-text
        }
    }
    &.alert-info {
        @include alert-variant($alert-info-bg, darken($alert-info-border, 15%), $alert-info-text);
        a {
            color: $alert-info-text
        }
    }
    &.alert-warning {
        @include alert-variant($alert-warning-bg, darken($alert-warning-border, 15%), $alert-warning-text);
        a {
            color: $alert-warning-text
        }
    }
    &.alert-danger {
        @include alert-variant($alert-danger-bg, darken($alert-danger-border, 15%), $alert-danger-text);
        a {
            color: $alert-danger-text
        }
    }
}

/*---------------------------------------------*\
    Panels
\*---------------------------------------------*/

.panel {
    margin-bottom: $gap-lg;
    table {
        &.table {
            tr {
                &:first-child {
                    td {
                        border-top-width: 0;
                    }
                }
            }
        }
    }
    &.panel-secondary {
        @include panel-variant($panel-secondary-border, $panel-secondary-text, $panel-secondary-heading-bg, $panel-secondary-border);
    }
}

/*---------------------------------------------*\
    Breadcrumbs
\*---------------------------------------------*/

.breadcrumb {
    background: none;
    padding: 0;
}