/*!
======================================================================
    Modules
======================================================================
*/

/*---------------------------------------------*\
    Blog
\*---------------------------------------------*/

.blog.loop{
    .item {
        margin: 0;
        .content {
            padding-bottom: $gap-md;
            border-bottom: 3px solid $gray-lighter;
        }
        .image {
            margin-bottom: $gap-md;
            display: block;
            background: $gray-darker;
            position: relative;
            img {
                -webkit-backface-visibility: hidden;
                @include transition(.1s linear opacity);
            }
            @include absolute-arrow();
            .hover-icon {
                display: none;
                color: $btn-primary-color;
                @include icon-center();
            }
            &:hover {
                img {
                    opacity: 0.9
                }
                .hover-icon {
                    display: block;
                }
            }
        }
        .title {
            a {
                color: $btn-default-color;
                @include transition(.1s linear color);
                &:hover {
                    color: $brand-primary;
                    text-decoration: none;
                }
            }
        }
        .meta {
            margin-bottom: $gap-md;
        }
        .summary {
            margin-bottom: $gap-md;
        }
    }
}
@media (min-width: $screen-sm) {
    .blog.loop{
        .item {
            .content {
                padding-bottom: $gap-lg;
            }
        }
    }
}
.blog.page {
    .meta {
        margin-bottom: $gap-md;
    }
}

/*---------------------------------------------*\
    Portfolio
\*---------------------------------------------*/

.portfolio.loop{
    .item {
        a {
            &:hover {
                text-decoration: none;
                img {
                    opacity: 0.9
                }
                .hover-icon {
                    @include opacity(1);
                }
            }
        }
        .image {
            position: relative;
            display: block;
            background: $gray-darker;
            @include absolute-arrow();
            img {
                -webkit-backface-visibility: hidden;
                @include transition(.1s linear opacity);
            }
            .hover-icon {
                color: $btn-primary-color;
                @include icon-center();
                @include opacity(0);
                @include transition(.1s linear opacity);
            }
        }
        .meta {
            border: 1px solid $gray-lighter;
            border-top-width: 0;
            padding: $gap-md;
            background: $btn-default-bg;
            @include border-bottom-radius($border-radius-base);
            h5 {
                margin-top: 0;
                font-weight: bold;
                color: $gray;
            }
            .portfolio-subtitle {
                color: $gray-light;
            }
        }
    }
}
.portfolio.page {
    .item {
        margin-bottom: $gap-md
    }
    .caption-right{
        margin-top: $gap-md;
    }
}

@media (min-width: $screen-sm) {
    .portfolio.page {
        .item {
            margin-bottom: add($gap-md, $gap-sm);
            &.last {
                margin-bottom: 0;
            }
        }
        .caption-right{
            margin-top: 0;
        }
    }
}

/*---------------------------------------------*\
    Page Builder
\*---------------------------------------------*/

.page-item.loop {
    margin-top: $gap-md;
    .item {
        margin: 0;
        padding: $gap-md 0;
        background: no-repeat center center;
        background-size: cover;
        &.fixed {
            background-attachment: fixed;
        }
        &.no-padding {
            padding: 0;
        }
    }
    .content{
        margin-bottom: 0;
    }
}
@media (min-width: $screen-sm) {
    .page-item.loop {
        margin-top: $gap-lg;
        .item {
            padding: $gap-lg 0;
        }
    }
}

/*---------------------------------------------*\
    Gallery
\*---------------------------------------------*/

.gallery.loop {
    .item {
        a{
            display: block;
        }
        .hover-icon {
            color: $btn-primary-color;
            @include icon-center();
            @include opacity(0);
            @include transition(.1s linear opacity);
            i {
                font-size: 0.5em;
            }
        }
        &:hover {
            text-decoration: none;
            img {
                opacity: 0.9
            }
            .hover-icon {
                @include opacity(1);
            }
        }
    }
}

/*---------------------------------------------*\
    Slider
\*---------------------------------------------*/

#sliderContainer {
    margin-bottom: $gap-md;
    .container{
        padding: 0;
    }
    #pageSlider {
        &.full-width {
            > .carousel-inner {
                > .item {
                    a img, img {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media (min-width: $screen-sm) {
    #sliderContainer {
        margin-bottom: $gap-lg;
        .container{
            padding: 0 ($gutter / 2);
        }
    }
}

/*---------------------------------------------*\
    Files
\*---------------------------------------------*/

.file-group.loop {
    .item {
        .panel{
            margin: 0;
        }
        .panel-body {
            ul {
                &.list-unstyled {
                    margin: 0;
                }
            }
        }
    }
}

/*---------------------------------------------*\
    Registration
\*---------------------------------------------*/

#MemberLoginForm_LoginForm {
    #ForgotPassword {
        margin-top: $gap-sm
    }
}
#editProfile {
    margin-top :$gap-md;
}
@media (min-width: $screen-sm) {
    #MemberLoginForm_LoginForm,
    #Form_RegistrationForm,
    #MemberLoginForm_LostPasswordForm {
        max-width: 50%;
    }
}
// Login Form
#MemberLoginForm_LoginForm,
#MemberLoginForm_LostPasswordForm {
    .text {
        @extend %form-control-static;
        input{
            @extend %input-static;
            margin-bottom: $gap-md;
        }
    }
    .action {
        @extend .btn;
        @extend .btn-primary;
        @extend .btn-lg;
    }
}

/*---------------------------------------------*\
    Contact Form
\*---------------------------------------------*/

#Form_ContactForm {
    margin-bottom: $gap-md;
}
@media (min-width: $screen-sm) {
    #Form_ContactForm {
        margin-bottom: $gap-lg;
    }
}
#map-canvas {
    width: 100%;
    display: block;
    height: 300px;
    img {
        max-width: none;
    }
}

/*---------------------------------------------*\
    Shortcodes
\*---------------------------------------------*/

.pricing-table{
    .price{
        background: $brand-secondary;
        padding: $gap-md;
        color: $btn-secondary-color;
        text-align: center;
        .heading{
            font-weight: 300;
            margin: 0;
        }
        .amount{
            margin: $gap-md 0;
            font-weight: 600;
            font-size: 60px;
        }
    }
    .list{
        background: $gray-lighter;
        padding: $gap-md;
        ul{
            margin: 0;
            padding: 0;
            li{
                list-style: none;
                margin: 0;
                padding: $gap-md 0;
                border-top: 1px solid darken($gray-lighter, 10);
                &:first-child{
                    border-top-width: 0;
                }
            }
        }
        p{
            margin: 0;
        }
    }
}

@media(min-width: $screen-sm){
    .pricing-table{
        .price{
            padding: $gap-lg;
        }
        .list{
            padding: $gap-lg;
        }
    }
}

/*---------------------------------------------*\
    Testimonials
\*---------------------------------------------*/

.testimonials.loop{
    .item{
        .media{
            > .pull-left{
                margin-right: $gutter;
            }
        }
        .media-image{
            img{
                @include border-radius(100%)
            }
        }
        .fallback{
            background: $gray-lighter;
            width: $gap-xl;
            height: $gap-xl;
            line-height: $gap-xl;
            text-align: center;
            color: $gray-light;
            display: block;
            @include border-radius(100%)
        }
    }
}