/*!
======================================================================
    Typography
======================================================================
*/

/*---------------------------------------------*\
    Regular
\*---------------------------------------------*/

body {
    font-family:"Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
}

/*---------------------------------------------*\
    Semi-Bold
\*---------------------------------------------*/

strong,
#main-nav .nav li a,
.btn,
input,
select,
textarea{
    font-family:"Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
}

/*---------------------------------------------*\
    Bold
\*---------------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family:"Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    a {
        text-decoration: none;
        &:hover, &:active {
            text-decoration: none;
        }
    }
}

/*======================================================================*\
    Fonts / Images - Typography
\*======================================================================*/

h1 {
    font-size: 28px;
}
h2 {
    font-size: 24px;
}
h3 {
    font-size: 20px;
}
h4 {
    font-size: 16px;
}
h5 {
    font-size: 14px;
}
@media (min-width: $screen-sm) {
    h1 {
        font-size: 34px;
    }
    h2 {
        font-size: 30px;
    }
    h3 {
        font-size: 24px;
    }
    h4 {
        font-size: 20px;
    }
    h5 {
        font-size: 16px;
    }
}
.typography {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6{
        &:first-child{
            margin-top: 0;
        }
    }
    em{
        font-style: italic;
    }
    img{
        &.left{
            float: left;
            max-width: 50%;
            margin: $gap-xs $gap-lg $gap-lg 0;
        }
        &.right{
            float: right;
            max-width: 50%;
            margin: $gap-xs 0 $gap-lg $gap-lg;
        }
        &.leftAlone{
            float: left;
            margin-right: 100%;
            margin-bottom: $gap-sm;
            clear: both;
        }
        &.center {
            float: none;
            margin: 0 auto $gap-sm auto;
            display: block;
            clear: both;
        }
    }
    .captionImage{
        width: 100%;
        margin-top: $gap-xs;
        img{
            margin: 0;
        }
        &.left{
            float: left;
            margin: $gap-xs $gap-lg $gap-md 0;
            img{
                float: none;
                max-width: none;
                width: 100%;
                margin-right: -$gap-sm;
            }
        }
        &.right{
            float: right;
            margin: $gap-xs 0 $gap-md $gap-lg;
            img{
                float: none;
                max-width: none;
                width: 100%;
                margin-left: -$gap-sm;
            }
            p{
                margin-left: -$gap-sm;
                text-align: left;
            }
        }
        &.left[style],
        &.right[style]{
            max-width: 50%;
        }
        &.leftAlone{
            float: none;
            margin: 0 $gap-md $gap-md 0px;
        }
        &.center{
            margin: 0 auto $gap-md;
        }
        p{
            clear: both;
            margin: $gap-sm 0;
            font-style: italic;
            font-size: 0.9em;
        }
    }
}
@media (min-width: $screen-sm) {
    .typography {
        h1 {
            font-size: 34px;
        }
        h2 {
            font-size: 30px;
        }
        h3 {
            font-size: 24px;
        }
        h4 {
            font-size: 20px;
        }
        h5 {
            font-size: 16px;
        }
        h1, h2 {
            margin-bottom: $gap-md;
            margin-top: $gap-lg;
        }
        h3, h4 {
            margin-bottom: $gap-md;
        }
        p, ul, ol, pre, code {
            margin-bottom: $gap-md;
        }
        li {
            margin-bottom: $gap-sm;
        }
    }
}

/*======================================================================*\
    Classes
\*======================================================================*/

.typography {
    .page-heading {
        margin-top: 0;
    }
    .content-light {
        color: $btn-primary-color;
        h1, h2, h3, h4, h5, p, ul, ol, li, strong, td, i, blockquote {
            color: $btn-primary-color;
        }
    }
}
%customList {
    padding-left: 0;
    li {
        padding-left: 1.2em;
        list-style: none;
        &:before {
            content:'\f00c';
            font-family: FontAwesome;
            color: $btn-success-bg;
            display: inline-block;
            margin-left: -1.2em;
            width: 1.2em;
        }
    }
}
ul {
    &.checklist {
        @extend %customList;
    }
    &.deletelist {
        @extend %customList;
        li {
            &:before {
                content:'\f00d';
                color: $btn-danger-bg;
            }
        }
    }
}